body {
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   font-family: sans-serif;
}

.btn {
   border: 3px solid rgb(255, 216, 43);
   background-color: transparent;
   color: transparent;
   padding: 20px 40px;
   font-size: 25px;
   text-transform: uppercase;
   cursor: pointer;
   transition: all 0.5s;
   position: relative;
}

.btn::before,
.btn::after {
   content: 'BUTTON';
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   border: none;
   background-color: #171717;
   color: rgb(255, 216, 43);
   transition: 0.2s;
}

.btn::before {
   transform: translateX(0) scale(1);
   opacity: 1;
}

.btn::after {
   transform: translateX(-100%) scale(0);
   opacity: 0;
}

.btn:hover::before {
   transform: translateX(100%) scale(0);
   opacity: 0;
}

.btn:hover::after {
   transform: translateX(0) scale(1);
   opacity: 1;
}
